@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:600');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #efefef;
}

header {
    background-color: #f01716;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    box-sizing: border-box;
    height: 50px;
    top: 0;
    width: 100%;
    padding: 0 50px;

    p {
        font-size: 17px;
        font-style: italic;
        line-height: 1.2;
    }

    h1 {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: -2.2px;
        font-size: 35px;
    }
}

@media (max-width: 812px) {
    header {
        height: 100px;
        flex-direction: column;
        padding: 0 25px;

        p {
        margin-top: 0;
        }
    }
}