@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:600');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #efefef;
}

img {
  display: block;
  width: 100%;
}

.Header__Component {
  header {
    background-color: #f01716;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    box-sizing: border-box;
    height: 50px;
    top: 0;
    width: 100%;
    padding: 0 50px;

    p {
        font-size: 18px;
        font-style: italic;
    }

    h1 {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: -2.2px;
        font-size: 35px;
    }
  }

  .visually-hidden:not(:focus):not(:active) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }
}

.Footer__Component {
  footer {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: #000;
    color: white;
    position: fixed;
    bottom: 0;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
  }

  @media (max-width: 812px) {
    header {
      flex-direction: column;
      padding: 0 25px;

      p {
        margin-top: 0;
      }
    }
  }
}

.CharacterList__Component {
    margin-bottom: 50px;
    padding: 100px 50px 20px 50px;

    button {
        height: 31.5px;
        cursor: pointer;
        border: none;
        border-radius: 1px;
        font-size: 15px;
        color: white;
        padding: 0px 12px;
        background-color: #000;
        margin-top: 10px;
        
        &:hover {
            background-color: #444;
        }
    }

    .character-list  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow-y: scroll;
        height: 420px;
        border: 5px solid #888;
    }

    .character-card {
        padding: 15px;
        margin: 20px;
        background-color: #d8d8d8;
        cursor: pointer;
    }

    @media (max-width: 850px) {
        .character-list {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (max-width: 600px) {
        .character-list {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 450px) {
        .character-list  {
            grid-template-columns: 1fr;
        }
    }
}

.CharacterDetail__Component {
  margin-bottom: 80px;
  padding: 0px 50px;

  .character-details {
    padding: 40px;
    background-color: #d8d8d8;
    border: 5px solid #888;

     img {
      margin: 0 auto;
      height: 300px;
      width: 300px;
    }
  }
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
  display: block;
  width: 100%;
}